#Favorites button {
    text-align: center;
    padding: 10px;
    background-color: rgb(24, 24, 24);
    color: white;
    margin: 10px 0px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
h4 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}