@font-face{
    font-family: Berkahi-blackletter;
    src: url(components/fonts/berkahi-blackletter.ttf);
    }

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    background-color: rgb(102, 102, 102);
}
